
#container{
	background: rgba(255, 255, 255, 0.90);
	border-radius: 5px;
	overflow: hidden;	
}
.product-details {
	position: relative;
	
}

#container .product-details h1:before{
	transform: translate(25px, -15px);
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	color: white;
	animation: chan-sh 6s ease infinite;
}

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;	
}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9); 
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(10px);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}